body {
    background-color: #1F253d;
    display: flex;
    justify-content: center;
    /*align-items: center; */
}   
header{
    width: 1000px;
    height: 120px;
    position: absolute;
    top: 100px;
    background-color: #394165;
    text-align: justify;
    border-radius: 10px;
    
}
.menu-settings {
    position: relative;
    padding: 35px 20px 10px 20px;
    height: 100px;
    float: left;
    
}
 .menu-account {
    position: relative;
    padding: 35px 20px 10px 20px;
    float: left;
    text-align: justify;
 }
 .menu-account:hover {
    background-color: #4a5072;
    border-bottom: solid 3px turquoise;
    height: 75px;
   }
 .menu-messages {
    position: relative;
    padding: 35px 20px 10px 20px;
    float: left;
    height: 100px;
    text-align: justify;
}
 .menu-favorites { 
    position: relative;
    padding: 35px 20px 10px 20px;
    float: left;
    height: 100px;
    text-align: justify;
}
 .menu-empty {
    position: relative;
    padding: 35px 20px 10px 20px;
    float: right;
       
}
 .menu-me {
    position: relative;
    padding: 35px 10px 10px 20px;
    float: right;
    height: 100px;
    text-align: justify;
 }
span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline-block;
    margin: 10px;
}
h2 {
    color: white;
    font: bold 20px Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 10px;
}
h3 {
    color: white;
    font: 15px Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 0px;
}
.red-circle {
    position: relative;
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
    top: -3px;
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;  
} 
.five {
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar {
    float: right;
    padding-left: 0px;
    border-radius: 50%;
    border: solid 3px gray;  
}                                                        
.container {
    width: 1000px;
    height: 400px;
    position: absolute;
    top: 250px;
    text-align: justify;
    justify-content: center;
    
} 
.left {
    position: relative;
    float: left;
    height: 300px;
    width: 320px;
    padding: 0px 0px 0px 0px;
}  
.center {
    float: left;
    height: 300px;
    width: 320px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    margin-left: 30px;
    
    
}    
.right {
    float: right;
    height: 300px;
    width: 300px;
    padding: 0px 0px 0px 0px;
}  
.left-menu-box {
    background-color: #10a8ab;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 10px 0px 70px;
    border-bottom: solid 1px #1F253d;
    
}
.left-messages {
    background-color: #394165;
    height: 50px;
    padding: 10px 10px 0px 10px;
    border-bottom: solid 1px #1F253d;
    
} 
.left-invites {
    background-color: #394165;
    height: 50px;
    padding: 10px 10px 0px 10px;
    border-bottom: solid 1px #1F253d;
}   
.left-invites:hover {
    background-color: #4a5072;
    height: 50px;
    padding: 10px 10px 0px 10px;
    border-bottom: solid 1px #1F253d;
}
.left-events {
    background-color: #394165;
    height: 50px;
    padding: 10px 10px 0px 10px;
    border-bottom: solid 1px #1F253d;
    
}  
.left-account-settings {
    background-color: #394165;
    height: 50px;
    padding: 10px 10px 0px 10px;
    border-bottom: solid 1px #1F253d;
}
.left-statistics {
    background-color: #394165;
    height: 50px;
    padding: 10px 10px 0px 10px;
    border-bottom: solid 1px #1F253d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
        
}
.center-foto {
    background-color: #394165;
    height: 330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 10px 0px 70px;
    border-bottom: solid 1px #1F253d;
}
.center-color-red {
    float: left;
    background-color: #394165;
    height: 60px;
    width: 110px;
    border-bottom-left-radius: 10px;
    padding: 0px 0px 0px 0px;
    border-top: solid 2px red;
    border-right: solid 1px #1F253d;
}
.center-color-green {
    display: inline-block;
    background-color: #394165;
    height: 60px;
    width: 98px;
    padding: 0px 0px 0px 0px;
    border-top: solid 2px #10a8ab;
    border-right: solid 1px #1F253d;
}
.center-color-yellow {
    float: right;
    background-color: #394165;
    height: 60px;
    width: 110px;
    border-bottom-right-radius: 10px;
    padding: 0px 0px 0px 0px;
    border-top: solid 2px yellow;
}
.big-foto {
    position: relative;
    padding: 35px 20px 30px 20px;
    height: 100px;
    float: left;
 }
 .text-foto-bottom {
    padding: 20px 0px 0px 20px;
    text-align: justify;
 }    
 .subscribe {
    background-color: #394165;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 20px 20px 70px;
    border-bottom: solid 1px #1F253d; 
    margin-left: 0px;
    margin-right: auto;
 }                               
.subscribe-button {
    background-color: #10a8ab;
    height: 50px;
    width: 150px;
    margin: 10px;
    padding: 0px 15px;
    border: solid 1px #394165;
    border-radius: 5px;
}                                                               
.email-form {
    height: 30px;
    margin: 20px -25px;
    padding: 10px 20px;
    display: inline-block;
    color: white;
    border: solid 2px #10a8ab;
    border-radius: 10px;
    background-color: #4a5072;
}
.sign-in {
    background-color: #394165;
    height: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 20px 20px 70px;
    border-bottom: solid 1px #1F253d; 
    margin-top: 30px;
} 
.sign-in-button {
    background-color: rgb(151, 34, 34);
    height: 50px;
    width: 150px;
    margin: 10px;
    padding: 0px 15px;
    border: solid 1px #394165;
    border-radius: 5px;
} 
.password-form {
    height: 30px;
    margin: 20px -25px;
    padding: 10px 20px;
    display: inline-block;
    color: white;
    border: solid 2px #4a4d4d;
    border-radius: 10px;
    background-color: #4a5072;
}
.form {
    height: 250px;
    width: 280px;
    padding: 10px 10px 0px 10px;
    background-color: rgb(76, 233, 84);
}
.forgot-password {
    height: 50px;
    width: 280px;
    padding: 10px 10px 0px 10px;
    background-color: rgb(233, 76, 141);
}
.sign-in-facebook {
    height: 50px;
    width: 280px;
    padding: 10px 10px 0px 10px;
    background-color: rgb(14, 50, 192);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}   
.download-upload {
    background-color: #394165;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 20px 20px 70px;
    border-bottom: solid 1px #1F253d; 
    margin-left: 0px;
    margin-right: auto;
} 
.download {

} 
.upload {

} 
.download-pic {
    display: inline-block;

}    
.upload-pic {

}  
.download-pic-green {
    width: 70px;
    height: 20px;
    background: #10a8ab;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}  
.download-pic-gray {
    width: 50px;
    height: 20px;
    background: #4a5072;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} 
.upload-pic-blue {
    background: #63d7fa;
    width: 50px;
    height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.upload-pic-gray {
    background: #4a5072;
    width: 70px;
    height: 20px;
    background: #4a5072;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}  
.wednesday {
    background-color: #394165;
    height: 330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 10px 0px 70px;
    border-bottom: solid 1px #1F253d;
}
.top-wednesday {

}   
.date {

}   
.calendar {

}   
.top-calendar {

}
.left-circle {
    background-color: #394165;
    height: 330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 10px 0px 70px;
    border-bottom: solid 1px #1F253d;
}
.left-color {

}
.left-color-red {
    float: left;
    background-color: #394165;
    height: 60px;
    width: 80px;
    border-bottom-left-radius: 10px;
    padding: 0px 0px 0px 0px;
    border-top: solid 2px red;
    border-right: solid 1px #1F253d;
}
.left-color-green {
    float: left;
    background-color: #394165;
    height: 60px;
    width: 77px;
    padding: 0px 0px 0px 0px;
    border-right: solid 1px #1F253d;
    border-top: solid 2px #10a8ab;
}
.left-color-yellow {
    display: inline-block;
    background-color: #394165;
    height: 60px;
    width: 70px;
    padding: 0px 0px 0px 0px;
    border-top: solid 2px yellow;
}
.left-color-blue {
    float: right;
    background-color: #394165;
    height: 60px;
    width: 90px;
    border-bottom-right-radius: 10px;
    padding: 0px 0px 0px 0px;
    border-top: solid 2px #63d7fa;
}


