body {
    background-color: #1F253d;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Ubuntu', arial;
    font-size: 12px;
} 
header{
    width: 640px;
    height: 60px;
    position: absolute;
    top: 65px;
    background-color: #394165;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.top-menu-items {
    display: flex;
}
.top-menu-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 5px;
}
.top-menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.top-menu-item:hover {
    background-color: #4a5072;
    box-shadow: inset 0 -4px turquoise;
    cursor: pointer;
}
h2 {
    font: 15px;
}
h3 {
    font: 12px;
}
.red-circle {
    position: relative;
    border-radius: 50%;
    background-color: #e64c65;
    width: 16px;
    height: 16px;
    top: -9px;
    right: -4px;
} 
.five {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}
.avatar {
    float: right;
    border-radius: 30px; 
} 
.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 5px #4a5072; 
}                                                       
.columns {
    width: 650px;
    position: absolute;
    top: 140px;
    display: flex;
} 
.column {
    /*background-color: #dcf876;*/
    flex: 1;
    width: 200px;
    flex-direction: column;
    display: flex;
    margin-right: 7.5px;
    margin-left: 7.5px;
}
.left-menu-block {
    display: inline-block;
    border-radius: 5px;
} 
.ellipse {
    border-radius: 10px;
    background: #4a5072;
    height: 15px;
    width: 25px;
}
.number {
    display: flex;
    align-items: center;
    justify-content: center;
}
.red {
    background-color: #e64c65;
}
.left-menu-top-part {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #10a8ab;
    height: 40px;
    padding: 0px 0px 0px 0px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-menu-items {
    height: 40px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
} 
.left-menu-items img {
    width: 20px;
    margin-right: 10px;
    margin-left: 5px;
}
.left-menu-items:hover {
    background-color: #50597b;
    height: 40px;
    cursor: pointer;
}
.left-item-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.left-item-bottom:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.left-circle-block {
    display: inline-block;
    background-color: #394165;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    margin-top: 15px;
    border-bottom: solid 1px #1F253d;  
}
.audience {
    height: 60px;
    padding: 0px 0px 0px 0px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.diagram {
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer-circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0px rgb(38, 201, 86);
    width: 150px;
    height: 150px;
    background-color: transparent;
    background-image:                                           
                      linear-gradient(305deg, #15a6a9 50%, transparent 50%),
                      linear-gradient(315deg, #15a6a9 50%, transparent 50%),
                      linear-gradient(60deg, #50c3f9 50%, transparent 50%),
                      linear-gradient(80deg, #f6aa48 50%, transparent 50%),
                      linear-gradient(180deg, #e64c66 50%, transparent 50%);
}
.inner-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #394264;
}
.june {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
}
.year {
    color: #9099b7;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-color-blocks {
    display: flex;
    margin-top: 30px;
}
.left-color-block {
    background-color: #394165;
    height: 50px;
    width: 25%;  
    padding: 0px 0px 0px 0px;
}
.left-color-red {
    border-bottom-left-radius: 10px;
    border-top: solid 3px red;
    border-right: solid 1px #1F253d;  
}
.left-color-green {
    border-top: solid 3px #10a8ab;
    border-right: solid 1px #1F253d;
}
.left-color-yellow {
    border-top: solid 3px yellow;
    border-right: solid 1px #1F253d;
}
.left-color-blue {
    border-bottom-right-radius: 10px;
    border-top: solid 3px #63d7fa;
}
.os {
    color: #9099b7;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 0px 0px;
}
.os-percent {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
}
.chart {
    display: inline-block;
    border-radius: 5px;
    border-bottom: solid 1px #1F253d;
    margin-top: 15px;
}
.chart-img img{
    width: 202px;
    background: turquoise;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart-bottom {
    background: #394165;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.chart-buttons {
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
button {
    height: 20px;
    width: 50px;
    background: #4a5072;
    margin: 0px 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    white-space: nowrap; 
    color: white;
    border: solid 1px #10a8ab;
    outline: none;
    font-size: 10px;
}
button:hover {
    cursor: pointer;
    background-color: #394165;
}
.text-gray {
    color: #9099b7;
    padding-left: 10px;
}
.number-right {
    padding-left: 0px;
}
.red-font {
    color: #eb5461;
}
.red-block {
    background: #eb5461;
}
.red-block:hover {
    background: #eb546171;
}
.data {
    display: flex;
    width: 180px;
    justify-content: space-between;
    padding-left: 10px;
    padding-bottom: 10px;
}
.group {
    display: flex;
}
.group-left {
    padding-left: 5px;
}
.group-right {
    padding-right: 0px;
}
.video {
    width: 200px;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    border-bottom: solid 1px #1F253d;
    margin-top: 15px; 
}
.timekillers {
    margin-top: 15px;
    margin-bottom: 50px;
}
.social-blocks-top {
    display: flex;
    justify-content: center;
}
.social-block-top img {
    width: 50px;
    background: #394165;
}
.social-block-top {
    display: flex;
    align-items: center;
    padding: 0 0px;
}
.fb-top img {
    border-top-left-radius: 5px;
    background: #3667b4;
}
.twitter-top img {
    background: #51c4f3;
}
.google-top img {
    background: #d15963;
}
.mail-top img {
    border-top-right-radius: 5px; 
    background: #50587c;
}
.social-blocks-bottom {
    display: flex;
    justify-content: center;
}
.social-block-bottom {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}
.fb-bottom {
    border-bottom-left-radius: 5px;
    background: #204c95;
}
.twitter-bottom {
    background: #38a9d1;
}
.google-bottom {
    background: #c53244;
}
.mail-bottom {
    border-bottom-right-radius: 5px; 
    background: #363e63;
}
.center-foto {
    background-color: #394165;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 0px 0px 0px;
    border-bottom: solid 1px #1F253d;
}
.plus-wrapper {
    display: flex;
    justify-content: flex-end;  
    padding-right: 10px;
    padding-top: 10px;
}
.plus {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 15px;
    color: #9099b7;
    border: solid 1px #9099b7;
    display: flex;
    justify-content: center;  
    text-align: center;
    align-items: center;
}
.foto-block {
    display: flex;
    justify-content: center;  
}
.big-foto img{
    padding: 0px 0px 0px 0px;
    height: 100px;
    border-radius: 50%;
    border: solid 4px #515c7a;
}
.text-block {
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
 .text-foto-bottom {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;     
    text-align: center;
} 
.gray-text {
    color: #9099b7;
    padding-bottom: 15px;
}
.center-color-blocks {
    display: flex;
}
.center-color-block {
    height: 40px;
    background-color: #1fec86;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
}
.center-color-red {
    background-color: #4a5072;
    width: 110px;
    border-bottom-left-radius: 5px;
    padding: 0px 0px 0px 0px;
    border-top: solid 2px red;
    border-right: solid 1px #1F253d;
}
.center-color-green {
    background-color: #4a5072;
    width: 98px;
    padding: 0px 0px 0px 0px;
    border-top: solid 2px #10a8ab;
    border-right: solid 1px #1F253d;
}
.center-color-yellow {
    background-color: #4a5072;
    width: 110px;
    border-bottom-right-radius: 5px;
    padding: 0px 0px 0px 0px;
    border-top: solid 2px yellow;
}
.icon-mini {
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}
.forecast {
    margin-top: 15px;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
}
.place {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #cc324c;
    height: 40px;
    padding: 0px 0px 0px 0px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-today {
    background-color: #e64c66;
    padding: 0px 0px 0px 0px;  
    color: white;
}
.date {
    font-size: 15px;
    padding: 15px 0px 0px 30px;
}
.weather {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 10px 0px;
}
.weather img{
    height: 50px;
    padding-left: 30px;
}
.wrapper {
    height: 40px;
    margin-bottom: 1px;
    background-color: #394165;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    align-items: center;
}
.wrapper:hover {
    background-color: #50597b;
    height: 40px;
    cursor: pointer;
}
.sunday:hover {
    color: #e64c65;
}
.weekend {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.weekend:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.w-right img{
    height: 20px;
    padding-left: 10px;
}
.w-right {
    display: flex;
    text-align: center;
    align-items: center;
}
.tweets {
    margin-top: 15px;
    border-radius: 5px;
}
.latest {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #37a9dd;
    height: 40px;
    padding: 0px 0px 0px 0px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.latest img{
    height: 35px;
}
.gray-block {
    padding: 10px 10px 0px 20px; 
    background: #394165; 
    margin-bottom: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tweet-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 5px 0px; 
}
.sharing {
    margin-top: 15px;
    margin-bottom: 30px;
}
.share-blocks {
    margin-bottom: 10px;
}
.fb-icon {
    background: #204c95;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0px;
    border-radius: 5px;
}
.fb-icon img {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    margin-left: 0px;
}
.twitter-icon {
    background: #38a9d1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0px;
    border-radius: 5px;
}
.twitter-icon img {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    margin-left: 0px;
}
.google-icon {
    background: #c53244;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0px;
    border-radius: 5px;
}
.google-icon img {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    margin-left: 0px;
}
.share-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    height: 40px;
    width: 200px;
    margin-left: 0px;
} 
.share-fb {
    background: #3667b4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.share-tw {
    background: #51c4f3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.share-google {
    background: #d15963;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
 .subscribe {
    background-color: #394165;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
 }
 .top-right-block {
    height: 40px;
    padding: 10px 0px 0px 0px;  
    display: flex;
    align-items: center;
    justify-content: center;
}  
.center {
    display: flex;
    align-items: center;
    justify-content: center;
 }                                        
.email-enter {
    width: 180px;
    height: 30px;
    margin: 10px 0px;
    text-indent: 30px;
    color: rgb(121, 24, 24);
    border: solid 1px #10a8ab;
    border-radius: 5px;
    background-color: #50597b; 
    display: inline-block;
}
input::placeholder {
    color: white;
    font-size: 11px;
}
.password-form::placeholder {
    color: #9099b7;
}
.subscribe-button {
    background-color: #10a8ab;
    width: 110px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px 0px 20px 0px;  
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}                                  
.subscribe-button:hover {
    background-color: #10a9ab80;
}
.input-icon {
    height: 20px;
    position: absolute;
    right: 170px;
}
.sign-in {
    background-color: #394165;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    border-bottom: solid 1px #1F253d;
    margin-top: 15px;
} 
.sign-in-button {
    background-color: #e64c65;
    width: 110px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px 0px 20px 0px;  
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.sign-in-button:hover {
    background-color: #e64c6679;
}
.password-form {
    width: 180px;
    height: 30px;
    text-indent: 30px;
    border: solid 1px #1f253d;
    border-radius: 5px;
    background-color: #50597b; 
}
.forgot-password {
    padding: 0px 0px 0px 0px;
    color: #9099b7;
}
.sign-in-facebook {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #3468af;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sign-in-facebook img {
    height: 20px;
    padding-right: 5px;
}
.download-upload {
    background-color: #394165;
    border-radius: 5px;
    padding: 20px 10px 0px 10px;
    display: inline-block;
    margin-top: 15px;
} 
.download-upload-blocks {
    padding: 5px 0px 0px 0px;  
    display: flex;
    align-items: center;
    justify-content: center;
} 
.download-upload-text {
    height: 50px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    align-items: center;
} 
.download-pic-green {
    width: 140px;
    height: 15px;
    background: #10a8ab;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}  
.download-pic-gray {
    width: 30px;
    height: 15px;
    background: #4a5072;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
} 
.upload-pic-blue {
    background: #63d7fa;
    width: 60px;
    height: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.upload-pic-gray {
    background: #4a5072;
    width: 110px;
    height: 15px;
    background: #4a5072;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}  
.download-upload-icon {
    height: 15px;
    padding: 0px 10px 0px 0px;        
}
.wednesday {
    background-color: #394165;
    border-radius: 5px;
    border-bottom: solid 1px #1F253d;
    margin-top: 15px;
}
.top-wednesday {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #1a4e95;
    height: 40px;
    padding: 0px 0px 0px 0px;  
    display: flex;
    align-items: center;
    justify-content: center;
}  
.top-wednesday img { 
    height: 20px;
    margin-right: 30px;
    margin-left: 30px;
}
.date-right {
    padding: 0px 0px 0px 0px;
    font-size: 80px;
    background: #3468af;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.blue {
    background: #3468af;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}  
.add-event {
    background-color: #4fc4f6;
    width: 110px;
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 10px 0px;  
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar {
    background-color: #394165;
    border-radius: 5px;
    border-bottom: solid 1px #1F253d;
    margin-top: 15px;
    padding-bottom: 10px;
}   
.top-calendar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #3468af;
    height: 40px;
    padding: 0px 0px 0px 0px;  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.top-calendar img { 
    height: 20px;
    margin-right: 35px;
    margin-left: 35px;
}
.light-blue {
    color: #35aadc;
}
.light-gray {
    color: #9099b7;
}
.mini-red-circle {
    border-radius: 50%;
    background-color: #e64c65;
    padding: 7px 0px 7px 0px;  
    display: flex;
    justify-content: center;
    align-items: center;  
}
table {
    border-collapse: collapse; 
    font-size: 9px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
th {
    padding: 6px 8px; 
}