body {
    background-color: #1F253d;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Ubuntu', arial;
    font-size: 12px;
} 
header{
    width: 640px;
    height: 60px;
    position: absolute;
    top: 65px;
    display: flex;
    justify-content: space-between;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
 }                                 
.top-menu-items {
    display: flex;
}
.top-menu-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 5px;
}
.top-menu-item {
    height: 100%;
    padding: 0 15px;
}
.top-menu-item:hover {
    background-color: #4a5072;
    box-shadow: inset 0 -4px turquoise;
    cursor: pointer;
}
.me {
    padding-right: 10px; 
}
.me img {
    width: 20px;
    height: 20px;
}
h2 {
    font: 15px;
}
h3 {
    font: 12px;
}
.red-circle {
    position: relative;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: -9px;
    right: -4px;
} 
.five {
    text-align: center; 
    font-size: 11px;
    padding-top: 2px;
}
.avatar {
    float: right;
    border-radius: 30px; 
    padding-left: 5px;
} 
.avatar img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 5px #4a5072; 
}                                                       
.columns {
    width: 650px;
    position: absolute;
    top: 140px;
    display: flex;
} 
.column {
    flex: 1;
    width: 200px;
    flex-direction: column;
    display: flex;
    margin-right: 7.5px;
    margin-left: 7.5px;
    margin-bottom: 40px;
}
.left-menu-block {
    display: inline-block;
} 
.ellipse {
    border-radius: 10px;
    background: #4a5072;
    height: 15px;
    width: 25px;
}
.number {
    font-size: 10px;
}
.wrapper:hover .number {
    background-color: #e64c65;
}
.left-menu-top-part {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #10a8ab;
    height: 40px;
}
.left-menu-items {
    height: 40px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
} 
.wrapper:hover {
    background-color: #50597b;
    height: 40px;
    cursor: pointer;
}
.mail-ic {
    background: url("img/email-g.png") no-repeat left; 
    background-size: 20px;
    width: 30px;
}
.wrapper:hover .mail-ic{
    background: url("img/email.png") no-repeat left; 
    background-size: 20px;
}
.invites-ic {
    background: url("img/fly-g.png") no-repeat left; 
    background-size: 20px;
    width: 30px;
}
.wrapper:hover .invites-ic {
    background: url("img/fly.png") no-repeat left; 
    background-size: 20px;
}
.events-ic {
    background: url("img/events-g.png") no-repeat left; 
    background-size: 20px;
    width: 30px;
}
.wrapper:hover .events-ic {
    background: url("img/events.png") no-repeat left; 
    background-size: 20px;
}
.settings-ic {
    background: url("img/setting-g.png") no-repeat left; 
    background-size: 20px;
    width: 30px;
}
.wrapper:hover .settings-ic {
    background: url("img/setting.png") no-repeat left; 
    background-size: 20px;
}
.statistic-ic {
    background: url("img/statistic-g.png") no-repeat left; 
    background-size: 20px;
    width: 30px;
}
.wrapper:hover .statistic-ic {
    background: url("img/statistic.png") no-repeat left; 
    background-size: 20px;
}
.left-item-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.left-circle-block {
    display: inline-block;
    margin-top: 15px;
}
.outer-circle {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    background-image:                                           
                      linear-gradient(305deg, #15a6a9 50%, transparent 50%),
                      linear-gradient(315deg, #15a6a9 50%, transparent 50%),
                      linear-gradient(60deg, #50c3f9 50%, transparent 50%),
                      linear-gradient(80deg, #f6aa48 50%, transparent 50%),
                      linear-gradient(180deg, #e64c66 50%, transparent 50%);
}
.inner-circle {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: #394264;
}
.june {
    font-size: 18px;
    padding: 25px 0px 0px 0px;
}
.year {
    font-size: 18px;
}
.left-color-blocks {
    display: flex;
    margin-top: 30px;
}
.left-color-block {
    background: #4a5072;
    width: 25%;  
}
.left-color-red {
    border-bottom-left-radius: 10px;
    border-top: solid 3px #e64c65;
    border-right: solid 1px #1F253d;  
}
.left-color-green {
    border-top: solid 3px #10a8ab;
    border-right: solid 1px #1F253d;
}
.left-color-yellow {
    border-top: solid 3px #f3b562;
    border-right: solid 1px #1F253d;
}
.left-color-blue {
    border-bottom-right-radius: 10px;
    border-top: solid 3px #63d7fa;
}
.os {
    font-size: 12px;
    padding: 10px 0px 5px 0px;
}
.os-percent {
    font-size: 15px;
    padding: 0px 0px 10px 0px;
}
.chart {
    margin-top: 15px;
}
.chart-img img{
    width: 202px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.chart-buttons {
    padding: 15px 10px;
}
button {
    height: 20px;
    width: 50px;
    background: #4a5072;
    margin: 0px 3px;
    border-radius: 3px;
    white-space: nowrap; 
    color: white;
    border: none;
    outline: none;
    font-size: 10px;
}
button:hover {
    cursor: pointer;
    background-color: #394165;
    border: solid 1px #9099b7;
}
.red-button:hover {
    background: #eb546171;
}
.chart-bottom {
    padding: 10px 0px 10px 10px;
}
.data {
    display: flex;
    width: 180px;
    justify-content: space-between;
    padding-bottom: 10px;
}
.group {
    display: flex;
}
.group-left {
    padding-left: 5px;
}
.group-right {
    padding-right: 0px;
}
.video {
    width: 200px;
    margin-top: 15px; 
}
.timekillers {
    margin-top: 15px;
}
.social-block-top img {
    width: 50px;
}
.social-block-top {
    display: flex;
    align-items: center;
}
.fb-top img {
    border-top-left-radius: 5px;
    background: #3667b4;
}
.twitter-top img {
    background: #51c4f3;
}
.google-top img {
    background: #d15963;
}
.mail-top img {
    border-top-right-radius: 5px; 
    background: #50587c;
}
.social-block-bottom {
    width: 50px;
    height: 20px;
    padding: 5px 0px;
}
.fb-bottom {
    border-bottom-left-radius: 5px;
    background: #204c95;
}
.twitter-bottom {
    background: #38a9d1;
}
.google-bottom {
    background: #c53244;
}
.mail-bottom {
    border-bottom-right-radius: 5px; 
    background: #363e63;
}
.center-foto {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plus-wrapper {
    display: flex;
    justify-content: flex-end;  
    padding-right: 10px;
    padding-top: 10px;
}
.plus {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 15px;
    color: #9099b7;
    border: solid 1px #9099b7;
    text-align: center;
}
.big-foto img{
    height: 100px;
    border-radius: 50%;
    border: solid 4px #515c7a;
}
 .text-foto-bottom {
    margin-bottom: 20px;
    text-align: center;
} 
.center-color-blocks {
    display: flex;
}
.center-color-block {
    height: 40px;
    background-color: #4a5072;
}
.center-color-red {
    width: 110px;
    border-bottom-left-radius: 5px;
    border-top: solid 2px #e64c65;
    border-right: solid 1px #1F253d;
}
.center-color-green {
    width: 98px;
    border-top: solid 2px #10a8ab;
    border-right: solid 1px #1F253d;
}
.center-color-yellow {
    width: 110px;
    border-bottom-right-radius: 5px;
    border-top: solid 2px #f3b562;
}
.icon-mini {
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}
.forecast {
    margin-top: 15px;
}
.place {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #cc324c;
    height: 40px;
}
.date {
    font-size: 14px;
    padding: 15px 0px 0px 30px;
}
.weather {
    font-size: 42px;
    padding: 0px 0px 10px 0px;
}
.weather img{
    height: 50px;
    padding-left: 30px;
}
.wrapper {
    height: 40px;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    align-items: center;
}
.wrapper:hover {
    background-color: #50597b;
    height: 40px;
    cursor: pointer;
}
.sunday:hover {
    color: #e64c65;
}
.weekend {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tweets {
    margin-top: 15px;
}
.latest {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #37a9dd;
    height: 40px;
}
.latest img{
    height: 35px;
}
.gray-block {
    padding: 20px 20px 15px 20px; 
    margin-bottom: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 11px;
}
span{
    color: #5ca0c5;
}
.padding-top {
    padding-top: 10px;
}
.tweet-text {
    display: inline;
    font-size: 10.5px;
    font-stretch: ultra-expanded;
    line-height: 1.5;
}
.sharing {
    margin-top: 15px;
    margin-bottom: 30px;
}
.share-blocks {
    margin-bottom: 10px;
}
.fb-icon {
    background: #204c95;
    height: 100%;
}
.fb-icon img {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    margin-left: 0px;
}
.twitter-icon {
    background: #38a9d1;
    height: 100%;
}
.twitter-icon img {
    width: 40px;
    height: 40px;
}
.google-icon {
    background: #c53244;
    height: 100%;
}
.google-icon img {
    width: 40px;
    height: 40px;
}
.share-text {
    height: 40px;
    width: 200px;
} 
.share-fb {
    background: #3667b4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.share-tw {
    background: #51c4f3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.share-google {
    background: #d15963;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
 .subscribe {
    display: inline-block;
 }
 .name-block {
    height: 40px;
    padding: 10px 0px 0px 0px;  
}         
.email-enter {
    width: 170px;
    height: 30px;
    margin: 10px 0px;
    text-indent: 40px;
    color: rgb(121, 24, 24);
    border: solid 1px #10a8ab;
    background-color: #50597b; 
    display: inline-block;
}
input::placeholder {
    color: white;
    font-size: 11px;
}
.password-form::placeholder {
    color: #9099b7;
}
.subscribe-button {
    background-color: #10a8ab;
    margin-bottom: 20px;
    margin-top: 10px;
}      
.subscribe-button, .sign-in-button, .add-event {
    width: 110px;
    height: 35px;
    font-size: 12px;
    border-radius: 3px;
}                             
.subscribe-button:hover {
    background-color: #10a9ab80;
}
.input-icon {
    height: 20px;
    position: absolute;
    right: 165px;
}
.sign-in {
    margin-top: 15px;
} 
.sign-in-button {
    margin-top: 20px;
    margin-bottom: 15px;
} 
.sign-in-button:hover {
    background-color: #e64c6679;
}
.password-form {
    width: 170px;
    height: 30px;
    text-indent: 40px;
    border: solid 1px #1f253d;
    background-color: #50597b; 
}
.forgot-password {
    padding: 0px 0px 0px 0px;
    color: #9099b7;
}
.sign-in-facebook {
    margin-top: 10px;
    padding: 10px;
    background-color: #3468af;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.download-upload {
    padding: 20px 10px 0px 10px;
    display: inline-block;
    margin-top: 15px;
} 
.download-upload-text {
    height: 50px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.download-pic-green {
    width: 140px;
    height: 15px;
    background: #10a8ab;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}  
.download-pic-gray {
    width: 30px;
    height: 15px;
    background: #4a5072;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
} 
.padding-left {
    padding-left: 10px;
}
.upload-pic-blue {
    background: #63d7fa;
    width: 60px;
    height: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.upload-pic-gray {
    background: #4a5072;
    width: 110px;
    height: 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}  
.download-upload-icon {
    height: 15px;  
}
.wednesday {
    margin-top: 15px;
}
.top-wednesday {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #1a4e95;
    height: 40px;
}  
.top-wednesday img { 
    height: 20px;
    margin-right: 30px;
    margin-left: 30px;
}
.date-right {
    font-size: 80px;
    background: #3468af;
} 
.blue {
    background: #3468af;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}  
.add-event {
    background-color: #4fc4f6;
    margin: 0px 0px 30px 0px;
}
.add-event:hover {
    background-color: #4fc4f675;
}
.calendar {
    margin-top: 15px;
    padding-bottom: 10px;
}   
.top-calendar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #3468af;
    height: 40px;
    margin-bottom: 10px;
}
.top-calendar img { 
    height: 20px;
    margin-right: 35px;
    margin-left: 35px;
}
.mini-red-circle {
    border-radius: 50%;
    padding: 7px 0px 7px 0px;  
}
table {
    display: inline;
    border-collapse: collapse; 
    font-size: 10px;
    padding: 5px;
}
th {
    padding: 8px 8px; 
}
.light-blue {
    color: #4fc5f7;
}
.light-gray {
    color: #9099b7;
}
.background-red {
    background-color: #e64c65;
}
.background-dark-gray {
    background-color: #394165;
}
.red-font {
    color: #eb5461;
}
.calendar, .wednesday, .download-upload, .sign-in, .email-enter, .password-form, .subscribe, .google-icon, .twitter-icon, .fb-icon, .tweets, .forecast, .video, .chart, .left-circle-block, header {
    border-radius: 5px;
}